@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #170e1b;
  --text: #efe7f2;
  --primary: #c5a8d1;
  --secondary: #506636;
  --accent: #6cb182;
  --light-gray: #bfbfbf;
  --dark-gray: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.button-primary {
  border: 1px solid var(--background);
  background: var(--primary);
  outline: none;
  padding: 8px 12px;
  color: var(--background);
  font-weight: 500;
  transition: all ease-in-out .2s;
}

.button-primary:hover{
  background: var(--text);
}
